*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-content{
    min-height: 1000px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 300px 700px;
    width: 90%;
}
.left-section{
    background: #e1d5d5;
    grid-column: span 1;
}
.right-section{
    grid-column: span 1 / span 2;
}
.left-content{
    padding: 1rem;
}
.profile-image img{
    display: block;
    margin: auto;
    border: 5px solid white;
    border-radius: 30%;
    width: 60%;
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
}
.designation{
    font-size: 1rem;
    align-items: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}
.skills{
    font-size: 0.75rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0.5rem 1rem 0.5rem;
}
.skill-name{
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}
.progress-bar{
    border: 1px solid white;
    height: 4px;
    background: white;
}
.social-media{
    display: flex;
    /* display: inline; */
    justify-content: space-around;
}
.icon{
    color: #2c2c2c;
    text-decoration: none;
    font-size: large;
}
.right-main-content{
    padding: 2rem 3rem;
}
.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0.5px;
}
.year, .experience-rght, .bachlour-rght, .master-rght, .bachlour-rght, .sub-heading{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0.5px;
}
p{
    text-indent: 20px;
    text-align: justify;
}

@media screen and (max-width: 673px) {
    .main-content{
        grid-template-columns: repeat(1,1fr);
    }
}
